{#
/**
 * @file
 * Theme of the twitter timeline block.
 *
 * Available variables:
 * - account_name: The name of the Twitter account.
 *
 * @see template_preprocess_block()
 */
#}

<span class="header--description-site"><b>{{ site_url_name }}</b> {{ site_slogan }}</span>
