{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ attributes.addClass('header', 'inner-content') }}>
    <div class="header--animated-background"></div>
    <div class="header--background"></div>
    <span class="header--description-site"><b>Stargate-Origins.com</b> La référence francophone sur la série Stargate Origins</span>
    {{ content }}
  </div>
{% endif %}
